.navbar{
  display: flex;
  position: relative;
  height: 100px;
  align-items: center;
  padding: 0 50px;
  overflow:hidden ;

}
.navbar-img{
  width: 50%;
}
.navbar-img img{
  width: 25%;
}
.navbar-menu{
  
  width: 50%;
}
.navbar-menu ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-right: 50px;
}
.nav-link{
  list-style-type: none;
  margin-left:50px;
  text-decoration: none;
  color: black;
  transition: .2s ease-in-out;
}
.nav-link:hover{
  color: orange;
}
.navbar span{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e63946;
  color:#fff;
  font-size: 10px;
  width:25px ;
  height: 25px;
  font-weight: bold;
  border-radius: 50%;
  top:25px;
  right:75px;

}