.navbar{
  display: flex;
  height: 100px;
  align-items: center;
  padding: 0 50px;
  overflow:hidden ;

}
.navbar-img{
  width: 50%;
}
.navbar-img img{
  width: 25%;
}
.navbar-menu{
  
  width: 50%;
}
.navbar-menu ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-right: 50px;
}
.nav-link{
  list-style-type: none;
  margin-left:50px;
  text-decoration: none;
  color: black;
  transition: .2s ease-in-out;
}
.nav-link:hover{
  color: orange;
}